<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

    <menuitem name="timecard-root" title="Timecard" icon="fa-calendar" icon-background="#84429f" parent="hr-root" order="1"/>


    <menuitem name="timecard-timecard" parent="timecard-root" title="Real timecards" action="timecard.timecard"/>

    <action-view name="timecard.timecard" title="Timecards" model="com.axelor.apps.timecard.db.Timecard">
        <view type="grid" name="timecard-grid"/>
        <view type="form" name="timecard-form"/>
    </action-view>


    <menuitem name="timecard-planning" parent="timecard-root" title="Scheduled timecards" action="timecard.planning"/>

    <action-view name="timecard.planning" title="Plannings" model="com.axelor.apps.timecard.db.Planning">
        <view type="form" name="planning-form"/>
    </action-view>


    <menuitem name="sites-all" parent="menu-project-root" order="9" title="Sites" action="site.all"/>
    <menuitem name="sale-sites-all" parent="sc-root-sale" order="8" title="Sites" action="site.all"/>

    <action-view name="site.all" title="Sites" model="com.axelor.apps.project.db.Project">
        <view type="grid" name="project-timecard-grid"/>
        <view type="form" name="project-timecard-form"/>
        <domain>self.isSite = true</domain>
        <context name="_isSite" expr="eval: true"/>
    </action-view>


    <!-- Print -->
    <menuitem name="mail-conf-print-templates" parent="mail-conf" order="40" title="Print templates" action="admin.root.templating.print.templates"/>

    <action-view name="admin.root.templating.print.templates" title="Print templates" model="com.axelor.apps.base.db.PrintTemplate">
        <view type="grid" name="print-template-grid"/>
        <view type="form" name="print-template-form"/>
    </action-view>


    <!-- Overrides -->
    <!-- HR: Leave requests -->
    <menuitem name="leave-request-root" id="timecard-leave-request-root" parent="hr-root" title="Absences management" order="5"
              if="__config__.app.isApp('leave')" icon="fa-plane" icon-background="#84429f"/>

    <menuitem name="edit-leave-request" id="timecard-edit-leave-request" parent="leave-request-root" title="Add an absence" action="action-hr-view-add-absence"/>

    <action-view name="action-hr-view-add-absence" title="Absence" model="com.axelor.apps.hr.db.LeaveRequest">
        <view type="form" name="leave-request-form"/>
    </action-view>

</object-views>
