<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">


    <menuitem name="chantiers-all" parent="menu-project-root" order="9" title="Chantiers" action="chantier.all"/>

    <action-view name="chantier.all" title="Chantiers" model="com.axelor.apps.project.db.Project">
        <view type="grid" name="chantier-grid"/>
        <view type="form" name="chantier-form"/>
        <domain>self.isChantier = true</domain>
        <context name="_isChantier" expr="eval: true"/>
    </action-view>

    <action-view name="project.all" id="traversier.project.all" title="Projects" model="com.axelor.apps.project.db.Project">
        <view type="grid" name="project-grid"/>
        <view type="form" name="project-form"/>
        <view type="calendar" name="project-calendar"/>
        <view type="kanban" name="project-kanban"/>
        <domain>self.isProject = true AND self.projectTypeSelect = :_xProjectTypeSelect AND self.isChantier = false</domain>
        <context name="_fromProject" expr="eval:true"/>
        <context name="_xProjectTypeSelect" expr="eval: __repo__(Project).TYPE_PROJECT"/>
    </action-view>

</object-views>
